altgraph==0.17.2
certifi==2022.6.15
charset-normalizer==2.1.0
docopt==0.6.2
idna==3.3
macholib==1.16
pipreqs==0.4.11
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
requests==2.28.1
urllib3==1.26.11
yarg==0.1.9
